html,body{width: 100%;height: 100%;position: relative;margin: 0;padding: 0;overflow: hidden;}
body{}
#loading{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;z-index: 100;color: #fff;background: url(../img/loadbg.jpg) center center no-repeat;background-size: 100%;background-color: #bc362c;}
.loadtext{top: 48%;position: absolute;text-align: center;width: 5.1rem;height: 3rem;top: 35%;background: url(../img/loadtextbg.png) no-repeat;background-size: 100%;left: 7rem;}
#loadpercent{position: absolute;font-size: 2.5rem;font-family: microsoft yahei;line-height: 2rem;right: 2.3rem;}
#wrapper{position: relative;width: 100%;height: 100%;background: url(../img/bg.jpg) center 30% no-repeat;background-size: 100%;background-color: #bc362c;}
.title{width: 13.825rem;height: auto;position: absolute;left: 0.5rem;transform-origin: top center;}
.titlebg{width: 100%;height: auto;position: absolute;}
.active .titlebg{
	animation: title 8s infinite;
	transform-origin:center bottom;
}
.titletxt{width: 100%;height: auto;position: relative;}
.rulebtn{width: 9.325rem;height: auto;left: 3.3375rem;position: absolute;bottom: 6%;transform-origin:center;display: block;}
.rulebtn1{position: absolute;bottom: 0;left: 2.5rem;width: 4.3rem}
.shakelabel{width: 100%;height: auto;}
.active .shakelabel{
	animation: shakelabel 1s infinite;
	transform-origin:center 185%;}
.car{width: 9.625rem;height: auto;left: 3.1875rem;position: absolute;top: 51%;transform-origin:center;}
.rulepage{width: 102%;height: 102%;background: rgba(0,0,0,0.7);top: 0;left: 0;position: absolute;}
.rulebox{width: 12.525rem;height: 17.375rem;background: url(../img/rulebg.png) no-repeat;background-size: 100%;position: absolute;left:50%;top: 50%;transform:translate(-50%,-50%);}
.rulecontent{width: 80%;height: 75%;left: 10%;position: relative;top: 2.5rem;overflow: auto;padding-right: 0.4rem;}
.rulecontent img{width: 100%;height: auto;}
::-webkit-scrollbar{width: 0.2rem}
::-webkit-scrollbar-track{width: 0.1rem;background: #ffffff;border-radius: 0.3rem;}
::-webkit-scrollbar-thumb{border-radius: 0.3rem;background: #b50500;}
.close{width: 1rem;height: 1rem;background: url(../img/close.png) no-repeat center;background-size: 1rem;display: block;position: absolute;top: -1.5rem;right: 0;}
.rulecontent h6{font-size: 0.7rem;padding: 0;margin: 0;color: #fff;}
.rulecontent p{font-size: 0.7rem;color: #fff;padding: 0;margin: 0.2rem 0 0.7rem;}


#info{position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.7);color: #fff;width: 100%;word-break:break-all;z-index: 1000}
.result .loading{background: url(../img/resultbg.jpg) center bottom no-repeat;background-size: 100%;background-color: #bc362c;}
.loadbar{position: absolute;left: 4.5rem;width: 0.5rem;}
.result .title{transform: scale(0.9);}
.result #wrapper{background: url(../img/resultbg.jpg) center bottom no-repeat;background-size: 100%;background-color: #bc362c;}
.result .resultinfo{width: 15.1rem;height: auto;left: 0.5rem;position: relative;}
.result .resultbtnbox{width: 100%;left: 0;bottom: 3%;transform-origin:center bottom;position: absolute;height: 2.1rem;}
.result .resultbtn1{width: 7.35rem;height: 2.1rem;background: url(../img/openbtn.png) center no-repeat;background-size: 100% auto;display: block;left: 4.325rem;position: absolute;}
.result .resultbtn2{width: 8.85rem;height: 2.1rem;background: url(../img/needbtn.png) center no-repeat;background-size: 100% auto;display: block;left: 3.575rem;position: absolute;}
.active .resultbtn1,.active .resultbtn2{animation: btn 2s 3s infinite;}
.result .title{left: 0;width: 13rem;}
.aw{width: 100%;height: auto;left: 0;position: absolute;bottom: 6%;transform-origin:center bottom;}
.resultinfo{transform:scale(0,0);-moz-transform:scale(0,0);}
.circle{width: 12.05rem;height: auto;position: absolute;left: 2rem;}
.active .circle{animation: circle 3s 1;}
.active .resultinfo{animation: award 3s 0.5s 1 forwards;}
.logo{position: absolute;right: 0.5rem;top: 0;width: 3rem;height: auto;}
.logo img{width: 100%;height: auto;}
.sharemask{z-index: 100;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/sharebg.png) rgba(0,0,0,0.9) top left no-repeat;background-size: 100%;}
.hide{display: none!important;}
.sharemask.on{ display: block!important;}
@keyframes shakelabel{
	0%{transform:rotate(0deg);}
	20%{transform:rotate(-7deg);}
	40%{transform:rotate(7deg);}
	60%{transform:rotate(-7deg);}
	80%{transform:rotate(7deg);}
	100%{transform:rotate(0deg);} 
}
@keyframes title{
	0%{transform:scaleY(1);}
	6%{transform:scaleY(1.07);}
	10%{transform:scaleY(0.93);}
	12%{transform:scaleY(1.07);}
	14%{transform:scaleY(0.93);}
	16%{transform:scaleY(1);}
	100%{transform:scaleY(1);} 
}
@keyframes btn{
	0%{transform:scaleX(1) scaleY(1);}
	17%{transform:scaleX(1.14) scaleY(1.14);}
	27%{transform:scaleX(0.86) scaleY(0.86);}
	37%{transform:scaleX(1.14) scaleY(1.14);}
	44%{transform:scaleX(0.86) scaleY(0.86);}
	50%{transform:scaleX(1) scaleY(1);}
	100%{transform:scaleX(1) scaleY(1);} 
}

@keyframes circle{
	0%{transform:scaleX(0) scaleY(0) rotate(360deg);}
	36%{transform:scaleX(1.1) scaleY(1.1) rotate(-40deg);}
	43%{transform:scaleX(1) scaleY(1) rotate(40deg);}
	100%{transform:scaleX(1) scaleY(1) rotate(0deg);}
	47%{transform:rotate(-40deg);}
	51%{transform:rotate(0deg);} 
}
@keyframes award{
	0%{transform:scaleX(0) scaleY(0);}
	23%{transform:scaleX(1.2) scaleY(1.2);}
	32%{transform:scaleX(1) scaleY(1);}
	100%{transform:scaleX(1) scaleY(1);} 
}
